.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  color: white;
}

h1 {
  margin: 9px 15px;
}

.App-link {
  color: #61dafb;
}

.form-box {
  margin: 15px 25px;
}

.narrow-text-field {
  width: 120px;
}

.button-wrap {
  margin: 45px 0px;
}
