.App-header {
  background-color: #161b22;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  color: white;
}

h1 {
  margin: 12px 15px;
}

.App-link {
  color: #61dafb;
}

.form-box {
  margin: 23px 23px;
}

.narrow-text-field {
  width: 130px;
}

.button-wrap {
  margin: 45px 0px;
}
